@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400&display=swap");

body {
  background: #1f1f1f;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

a {
  cursor: pointer;
}

.logo {
  width: 120px;
}

.logo-search {
  width: 60px;
}

.sign-out {
  width: 30px;
  vertical-align: middle;
  margin-left: 10px;
  cursor: pointer;
}

.back-to-search {
  color: #ffffff;
  text-decoration: none;
  font-size: 40px;
  font-weight: 100;
}

.open-in-spotify > img {
  width: 20px;
  margin-right: 10px;
}

.back-to-search:hover {
  color: green;
  text-decoration: none;
}

.login-text,
.oops-text {
  color: #ffffff;
  font-size: 40px;
  font-weight: 300;
}

.search-spotify {
  width: 100%;
  border: none;
  height: 60px;
  padding: 0 30px;
  background: #333333;
  font-size: 30px;
  font-weight: 300;
  color: #ffffff;
}

.header-user {
  font-size: 30px;
  font-weight: 100;
  padding: 20px 0;
  height: 84.44px;
}

.results-empty {
  font-size: 50px;
  font-weight: 100;
  padding-top: 100px;
}

.results-artists-header {
  font-size: 30px;
  padding: 20px 10px;
  border-top: 1px solid green;
  margin-top: 20px;
}

.results-artist-name {
  text-overflow: ellipsis;
  height: 22px;
  overflow: hidden;
  display: inline-block;
}

.results-artist-cover {
  width: 100%;
  height: 150px;
  display: inline-block;
  background-size: cover;
  background-position: center;
}

.results-tracks-header {
  font-size: 30px;
  padding: 20px 10px;
}

.results-track-cover {
  width: 100%;
  height: 127px;
  display: inline-block;
  background-size: cover;
  background-position: center;
}

.results-track {
  line-height: 34px;
}

.track-album {
  display: inline-block;
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center;
}

.track {
  margin-top: 30px;
}

.track-name {
  font-size: 50px;
  font-weight: 100;
  padding: 0;
  max-height: 70px;
  overflow: hidden;
  display: inline-block;
}

.track-artists a {
  margin-right: 10px;
}

.oops-wrapper {
  cursor: pointer;
}

button.btn.btn-primary {
  background: none;
  border: none;
  color: #00d95e;
  text-transform: uppercase;
  font-weight: bold;
}

.vh-100 {
  height: 100vh;
}

.m-auto {
  margin: auto;
}

.p-10 {
  padding: 10px;
}

.p-0 {
  padding: 0;
}

/**Media Queries**/

@media only screen and (max-width: 991px) {
  .track-album {
    height: 250px;
  }
  .back-to-search {
    text-align: right;
    width: 100%;
    display: inline-block;
  }

  .results-track-cover,
  .results-artist-cover {
    height: 400px;
  }

  .results-tracks-header,
  .results-artists-header {
    text-align: center;
  }

  .results-artists-header {
    border-top: 2px solid green;
  }

  .results-duration {
    position: absolute;
    top: 0;
    right: 0;
  }

  .results-track {
    border-bottom: 1px solid #333333;
    padding-bottom: 36px;
    font-size: 20px;
    display: inline-block;
    margin: 10px 0;
  }

  .results-artist-name {
    height: 70px;
    font-size: 40px;
    margin: 40px 0;
  }
  .oops-text {
    font-size: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 30px;
  }

  .results-empty {
    font-size: 30px;
    padding-top: 50px;
  }

  .sign-out {
    width: 36px;
  }

  .search-spotify {
    padding: 0 10px;
    font-size: 18px;
  }

  .logo-search-wrapper {
    text-align: center;
    margin-bottom: 24px;
  }

  .header-user {
    font-size: 30px;
  }

  .back-to-search {
    font-size: 25px;
    margin-top: 12px;
  }

  .results-artist-name {
    height: 30px;
    font-size: 20px;
    margin: 10px 0;
  }
}
