@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400&display=swap");

body {
  background: #1f1f1f;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.logo {
  width: 120px;
}

.logo-search {
  width: 60px;
}

.back-to-search {
  color: #ffffff;
  text-decoration: none;
  font-size: 40px;
  font-weight: 100;
}

.back-to-search:hover {
  color: green;
  text-decoration: none;
}

.login-text {
  color: #ffffff;
  font-size: 40px;
  font-weight: 300;
}

.search-spotify {
  width: 100%;
  border: none;
  height: 60px;
  padding: 0 30px;
  background: #333333;
  font-size: 30px;
  font-weight: 300;
  color: #ffffff;
}

.header-user {
  font-size: 30px;
  font-weight: 100;
  padding: 20px 0;
  height: 84.44px;
}

.results-empty {
  font-size: 50px;
  font-weight: 100;
  padding-top: 100px;
}

.results-artists-header {
  font-size: 30px;
  padding: 20px 10px;
  border-top: 1px solid green;
  margin-top: 20px;
}

.results-artist {
  height: 220px;
}

.results-artist-name {
  text-overflow: ellipsis;
  height: 22px;
  overflow: hidden;
  display: inline-block;
}

.results-artist-cover {
  width: 100%;
  height: 150px;
  display: inline-block;
  background-size: cover;
  background-position: center;
}

.results-tracks-header {
  font-size: 30px;
  padding: 20px 10px;
}

.results-track-cover {
  width: 100%;
  height: 70px;
  display: inline-block;
  background-size: cover;
  background-position: center;
}

.results-track {
  line-height: 34px;
}

.track-album {
  display: inline-block;
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center;
}

.track {
  margin-top: 100px;
}

.track-name {
  font-size: 50px;
  font-weight: 100;
  padding: 0;
  max-height: 70px;
  overflow: hidden;
  display: inline-block;
}

.track-artists a {
  margin-right: 10px;
}

button.btn.btn-primary {
  background: none;
  border: none;
  color: #00d95e;
  text-transform: uppercase;
  font-weight: bold;
}

.vh-100 {
  height: 100vh;
}

.m-auto {
  margin: auto;
}

.p-10 {
  padding: 10px;
}

.p-0 {
  padding: 0;
}
